$primaryColor: rgb(245, 245, 240);
$secondaryColor: rgb(21, 21, 21);
$grey: rgb(54, 54, 54);
$lightGrey: rgba(71, 71, 71, 0.4);
$accentColor: rgb(226, 149, 120);
$secondaryAccentColor: rgb(107, 126, 159);
$mobileSize: 768px;
